   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
     <property name="systemPropertiesModeName">
       <value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
     </property>
     <property name="properties" ref="mergedProperties"/>
   </bean>

	<bean id="sessionFactory"  class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:/META-INF/hibernate.cfg.xml</value>
        </property>
        <property name="dataSource" ref="dataSource"/>
	    <property name="hibernateProperties" ref="mergedProperties"/>
        <property name="configurationClass">
   			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
    </bean>
    
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${ruleservice.jdbc.driverClassName}"/>
		<property name="url" value="${ruleservice.jdbc.url}"/>
		<property name="username" value="${ruleservice.jdbc.username}"/>
		<property name="password" value="${ruleservice.jdbc.password}"/>
		<property name="initialSize" value="${pool.initialSize}"/>
		<property name="maxActive" value="${pool.maxActive}"/>
	</bean>
	
	<bean id="ruleServiceInit" class="com.connecture.services.ruleservice.process.initialization.SpringTransRuleServiceInit"
	    scope="thread">
		<property name="ruleServiceProcess" ref="ruleServiceProcess"/>
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="transManager" ref="transactionManager" />
	</bean>

    <bean id="historyFullNameStrategy" class="com.connecture.services.ruleservice.process.RuleServiceHistoryFullNameStrategy"></bean>
</beans>
